@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
  --text-color: #eee;
  --title-screen-bg-color: #000;
  --title-kanji-color: #1a1a1a;
}

html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

::selection {
  background-color: transparent;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  color: var(--text-color);
}

.title-screen {
  position: absolute;
  z-index: 3;
  background-color: var(--title-screen-bg-color);
  color: var(--text-color);
  transition: opacity 2s ease-in-out;
}

.title,
.title-kanji {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100vw;
  text-align: center;
}

.title {
  font-size: 7vw;
  z-index: 4;
}

.title-kanji {
  font-size: 20vw;
  color: var(--title-kanji-color);
  font-family: 'Noto Sans JP', sans-serif;
}

.loading-circle,
.wait-kanji {
  color: var(--text-color);
  position: absolute;
  left: 50%;
  translate: -50%;
}

.loading-circle {
  width: 10vw;
  max-width: 200px;
  height: auto;
  top: 70%;
}

.logo-img {
  margin-right: 10px;
  width: 45px;
  height: auto;
  translate: 0 12px;
}

.spinning {
  animation: spin infinite 5s linear;
}

.hide {
  opacity: 0;
}

.background-photo,
.title-screen {
  width: 100vw;
  height: 100vh;
}

.filter {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.frame {
  position: absolute;
  inset: 70px;
  width: auto;
  height: auto;
  border: 10px solid var(--text-color);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kanji {
  font-size: 200px;
  font-family: 'Noto Sans JP', sans-serif;
}

.meaning {
  font-size: 20px;
}

header,
footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.logo,
.instagram-page,
.credits,
.me {
  font-size: 13px;
  vertical-align: center;
}

.logo {
  flex: 1;
  font-size: 30px;
  text-align: left;
  margin-left: 70px;
}

.instagram-page {
  flex: 1;
  text-align: right;
  margin: 18px 70px 0 0;
}

.credits {
  flex: 3;
  text-align: left;
  margin: 0 0 18px 70px;
}

.me {
  flex: 5;
  text-align: right;
  margin: 0 70px 18px 0;
}

.fa-github,
.fa-linkedin,
.fa-instagram {
  margin-left: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.credits a {
  text-decoration: underline;
}

@media screen and (max-width: 802px) {
  .frame {
    inset: 50px;
    border: 5px solid var(--text-color);
    border-radius: 1rem;
  }

  .instagram-page,
  .credits,
  .me {
    font-size: 12px;
  }

  .logo {
    position: absolute;
    margin: 0;
    top: 2px;
    font-size: 20px;
  }

  .logo-img {
    width: 30px;
    translate: 0 7px;
  }

  .instagram-page {
    writing-mode: vertical-rl;
    margin: 50px 17px 0 0;
  }

  .credits {
    align-self: flex-end;
    writing-mode: vertical-rl;
    margin: 0 0 50px 7px;
    transform: rotate(180deg);
  }

  .me {
    writing-mode: vertical-rl;
    margin: 0 17px 50px 0;
  }

  .fa-github,
  .fa-linkedin,
  .fa-instagram {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 380px) {
  .kanji {
    font-size: 120px;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .meaning {
    font-size: 12px;
  }
}

@media (prefers-reduced-motion) {
  .spinning {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
